@import "datepicker-build";
@import "datepicker";
@import "timepicker";

@gray-border: #ccc;

.site-footer {
	color: @gray-border;
	border-top: 1px solid;
	margin-top: 1em;
	padding: 1em 0;
	font-size: 0.8em;
	text-align: right;
}

.page-content {
	margin-bottom: 2em;

	h2:first-child {
		margin-top: 0;
	}

	.blog-post {
		margin-bottom: 5em;
		&.blog-summary {
			margin: 1em 0;
			border-top: 1px @gray-border solid;
			padding-top: 1em;
			&:first-of-type {
				border-top: none;
				padding-top: 0;
			}
		}
		header {
			margin-bottom: 0.7em;
			h2 { margin-bottom: 0; }
			p { 
				margin: 0; 
				&.title {
					font-size: 1.3em;
				}
				&.date {
					font-size: 0.8em;
					color: @breadcrumb-active-color;
				}
			}
		}
		footer {
			padding-top: 1em;
			color: @breadcrumb-active-color;
			p {
				font-size: 0.8em;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

h1,h2,h3,h4,h5,h6 {
	&:first-of-type {
		margin-top: 0;
	}
}

.archives {
	ul {
		margin: 0.1em 0;
		border: 0;
		box-shadow: none;
		li {
			padding: 0.2em 0;
			border: none;
		}
	}
}

@code-background-color: #333;
@code-block-color: #eee;
@code-gutter-color: darken(@code-block-color,30%);

code {
	font-family: @font-family-monospace;
	font-size: 0.75em;
	background-color: @code-background-color;
	color: @code-block-color;
	width: 100%;
	display: block;
}
table.syntax-highlighting {
	.clearfix();
	.border-top-radius(0.6em);
	.border-bottom-radius(0.6em);
	font-family: @font-family-monospace;
	font-size: 0.75em;
	background-color: @code-background-color;
	color: @code-block-color;
	width: 100%;
	tr {
		vertical-align: top;
		td {
			padding: 1em 0.5em;
			&.gutter {
				width: 3em;
				text-align: right;
				color: @code-gutter-color;
				padding-right: 0.3em;
			}
			&.code {
				overflow: auto;
				padding: 1em 0.5em;
				max-width: 250px;
				.const { color: #08f; }
				.operator { color: #0f0; }
				.found { color: #ff0; }
				.comment { color: #f80; }
			}
			div { 
				text-overflow: ellipsis;
				white-space: nowrap; 
				overflow: hidden;
			}
		}
	}
}