.rotateText(@deg: -45deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: rotate(@deg);
	-ms-transform: rotate(@deg);
	-o-transform: rotate(@deg);
}
.masthead {
	.container {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
		box-shadow: 3px 3px 5px #ddd;
		padding: 4px 1em;
		line-height: 35px;
		.navbar-header {
			.navbar-toggle {
				border: 1px @color-inverse solid;
				border-radius: 5px;
				background: transparent;
				line-height: 35px;
				height: 35px;
				overflow: hidden;
				width: 45px;
				float: right;
				text-shadow: 2px 2px 2px #333;
				cursor: pointer;
				outline: none;
				.icon-bar {
					display: block;
					border: 1px @color-inverse solid;
					border-radius: 3px;
					margin: 5px 0;
					line-height: 0px;
				}
			}
			.navbar-brand {
				color: @color-inverse;
				text-decoration: none;
				text-shadow: 2px 2px 2px #333;
			}
		}
		.navbar-collapse {
			display: none;
			&.show { 
				display: block;
			}
		}
	}
	@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
		width: 45%;
	}
	@media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
		width: @screen-lg-sideColumnWidth;
	}
	@media (min-width: @screen-md-min) and (max-width: @screen-lg-max) {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		.navbar {
			position: relative;
			margin: 2em 0;
			transition: 1.7s;
			&.scrolldown {
				.navbar-header {
					left: -10px;
				}
				.navbar-collapse {
					ul {
						margin: 0 0 0 90px;
					}
				}
			}
		}
		.navbar-header {
			border: 1px #fff solid;
			padding: 4px;
			border-radius: 200px;
			position: absolute;
			top: 0;
			left: -50px;
			background-color: #333;
			transition: 0.7s;
			.navbar-toggle { display: none; }
			.navbar-brand {
				display: block;
				background-image: url('/includes/imgs/cmv1.jpg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				width: 200px;
				height: 200px;
				border-radius: 100px;
				color: transparent;
			}
		}
		.navbar-collapse {
			padding: 0;
			ul {
				margin: 0 0 0 50px;
				transition: 0.7s;
				padding: 0;
				list-style: none;
				li {
					a {
						overflow: hidden;
						cursor: pointer;
						display: block;
						line-height: 41px;
						height:  41px;
						padding: 0 1em 0 120px;
						text-align: right;
						border-bottom: 1px #fff solid;
						transition: 0.7s;
						background-color: rgba(255,255,255,0.2);
						&:hover {
							padding-right: 25%;
							text-decoration: none !important;
							background-color: rgba(55,55,99,0.5);
						}
					}
					&:nth-child(1) a {
						line-height: 40px;
						height:  40px;
						border-top: 1px #fff solid;
					}
					&.active {
						a {
							background-color: rgba(200,200,200,0.7);
							padding-right: 25%;
							&:hover {
								text-decoration: none;
							}
						}
					}
					ul { display: none; }
				}
				&.nav-settings {
					margin: 1em 0;
					li {
						&:nth-child(1) a {
							line-height: 40px;
							height: auto;
							border-top: none;
						}
						a {
							background-color: transparent;
							border: none;
							&:hover {
								padding-right: 1em;
								text-decoration: underline;
								background-color: transparent;
							}
						}
					}
				}
				&.nav-socialmedia {
					margin: 1em auto !important;
					width: 350px;
					height: 100px;
					position: relative;
					li {
						border: none;
						float: left;
						width: 14%;
						min-width: 38px;
						text-align: center;
						a {
							.rotateText(-45deg);
							background-color: rgba(255,255,255,0);
							color: rgba(255,255,255,0.6);
							padding: 0;
							margin: 0;
							border: 0;
							text-align: center;
							height: 35px;
							line-height: 35px;
							width: 35px;
							text-shadow: none;
							border-radius: 6px;
							span { display: none; }
							&:hover,&.active {
								.rotateText(0deg);
								color: #fff;
								background-color: #333;
								&.github { 
									color: #fff; 
									.btn-gradient(#6A2F81);
								}
								&.search { color: #fff; .btn-gradient(#009); }
								&.facebook { color: #4c66a4; background-color: #fff; }
								&.twitter { color: #55acee; background-color: #fff; }
								&.linkedin { color: #1A86BB; background-color: #fff; }
								&.googleplus { color: #DD4B39; background-color: #000; }
								&.rss { color: #FA9C39; background-color: #fff; }
								background-color: transparent;
							}
						}
						.inline-search {
							display: block;
							position: absolute;
							top: 0.7em;
							right: -0.5em;
							left: -0.5em;
							padding: 0.2em;
							background-color: #009;
							border-radius: 6px;
							z-index: 2;
							input {
								width: 76%;
								float: left;
								outline: none;
								margin: 0;
								padding: 2%;
								border-top-left-radius: 6px;
								border-bottom-left-radius: 6px;
								border-top-right-radius: 0px;
								border-bottom-right-radius: 0px;
							}
							button {
								width: 19%;
								margin: 0;
								padding: 2% 0;
								border: none;
								display: block;
								line-height: 1.2em;
								border: 1px #999 solid;
								border-top-right-radius: 6px;
								border-bottom-right-radius: 6px;
								font-size: 1em;
								cursor: pointer;
							}
						}
					}
				}
			}
		}
	}
	background-color: @background-color-inverse;
	background-image: url('/includes/imgs/55blackAlpha.png'), url('/includes/imgs/codebg-right.png'), url('/includes/imgs/codebg-left.png');
	background-repeat: repeat, repeat-y, repeat-y;
	background-position: center, top right, top left;
	min-height: 1.6em;
	.container {
		padding: 0;
		.nav {
			padding: 0;
			list-style: none;
			li {
				a { 
					color: @color-inverse;
					text-decoration: none;
					text-shadow: 2px 2px 2px #333;
					&:hover { text-decoration: underline; }
					span:first-child { margin: 0 0.3em 0 0; }
				}
			}
		}
	}
}
.container {
	padding: 1em;
	& > header {
		margin: 1em 0;
		p { margin: 0; }
		.title { 
			font-size: 1.5em;
			font-weight: bold;
		}
	}
	@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
		padding: 0 3%;
		width: 49%;
	}
	@media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
		padding: 1em;
		margin: 0 @screen-lg-sideColumnWidth 0 0;
	}
}

.site-footer {
	margin: 0 0 2em 0;
	padding: 0;
	color: #999;
	font-size: 0.7em;
	ul { color: #00c; }
}

.admin-menu-group {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #333;
	color: #fff;
	a { color: #fff; }
	.admin-menu {
		padding: 0;
		width: 0;
		transition: 0.5s;
		opacity: 0;
		&.open {
			opacity: 1;
			width: 250px;
			padding: 1em;
		}
	}
	.btn.admin-btn {
		font-size: 1.2em;
		position: absolute;
		top: 50px;
		left: -40px;
		width: 40px;
		line-height: 40px;
		border: none;
		border-top-right-radius: 0; 
		border-bottom-right-radius: 0; 
		background: none;
		background-color: #333;
		color: #fff;
		padding: 0;
		margin: 0;
		outline: none;
		box-shadow: none;
	}
}
