.file-explorer {
	.file-selector {
		overflow:  auto;
		max-height:  80%;
		ul {
			list-style:  none;
			a {
				.glyphicon { margin: 0 1em 0 0; }
				&.active { background-color: #ddd; }
				padding: 0.2em 0.3em;
				border-radius:  0.3em;
			}
		}
	}
	.file-information {
		overflow:  hidden;
		img { 
			max-width:  90%; 
			margin:  1em auto;
		}
	}
}